---
const {data} = Astro.props
---
<article data-id={data.id}>
    <h2>{data.navn}</h2>
    <p>{data.levested}</p>
    <a href=`enkelt?id=${data.id}`>Læs mere</a>
</article>

<style>
    article{
        padding: 1em;
        margin: 1em;
    }
    .blue{
        background-color: blue;
        color: white;
    }

    .red{
        background-color: red;
        color: white;
    }

    .green{
    background-color: greenyellow;
    }
</style>